!includedir /etc/mysql/conf.d/
[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
#log-error=/var/log/mysql/error.log
# By default we only accept connections from localhost
# 可注释，这样远程机可以访问
#bind-address    = 127.0.0.1
# 开启log-bin日志
log-bin=/var/log/mysql/mysql-bin.index
# 服务器唯一id，默认为1，一般取IP最后一段
server-id=102
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0